BODY, TD, P {
	background: white;
	color: black;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
}
TH {
	background: silver;
	color: black;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
	text-align: center;
}
SMALL {
	font-size: 8pt;
}
A {
	font-color: red;
	text-decoration: none;
}
A:HOVER {
	text-decoration: underline;
}
H1 {
	font-size: 12pt;
	font-weight: bold;
}
TABLE {
	background: silver;
}
HR {
	background: silver;
	color: silver;
}
