BODY {
	SCROLLBAR-FACE-COLOR: #334422; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(bg.gif); FONT: 10pt Verdana,Helvetica,Arial sans-serif; SCROLLBAR-HIGHLIGHT-COLOR: #253119; SCROLLBAR-SHADOW-COLOR: black; COLOR: white; SCROLLBAR-3DLIGHT-COLOR: #828c81; SCROLLBAR-ARROW-COLOR: black; SCROLLBAR-TRACK-COLOR: #10140c; SCROLLBAR-DARKSHADOW-COLOR: black; BACKGROUND-COLOR: black
}
.small {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; COLOR: #828c81; PADDING-TOP: 2px; FONT-FAMILY: helvetica, arial, verdana sans-serif
}
.border {
	BORDER-RIGHT: #10140c 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #828c81 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 8pt; PADDING-BOTTOM: 8px; BORDER-LEFT: #828c81 1px solid; COLOR: white; PADDING-TOP: 8px; BORDER-BOTTOM: #10140c 1px solid; FONT-FAMILY: helvetica, arial, verdana sans-serif; BACKGROUND-COLOR: #334422
}
.content {
	BORDER-RIGHT: #828c81 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #10140c 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 9pt; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(bg.gif); PADDING-BOTTOM: 4px; BORDER-LEFT: #10140c 1px solid; COLOR: white; PADDING-TOP: 4px; BORDER-BOTTOM: #828c81 1px solid; FONT-FAMILY: helvetica,arial,verdana sans-serif; BACKGROUND-COLOR: black; TEXT-ALIGN: justify
}
.subtitle {
	BORDER-RIGHT: #828c81 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: black 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(bg3.jpg); PADDING-BOTTOM: 1px; BORDER-LEFT: black 1px solid; COLOR: white; PADDING-TOP: 1px; BORDER-BOTTOM: #828c81 1px solid; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: helvetica,arial,verdana sans-serif; BACKGROUND-COLOR: #10140c
}
.links {
	BORDER-RIGHT: #828c81 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #10140c 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 9pt; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(bg.gif); PADDING-BOTTOM: 4px; BORDER-LEFT: #10140c 1px solid; COLOR: white; PADDING-TOP: 4px; BORDER-BOTTOM: #828c81 1px solid; FONT-FAMILY: helvetica,arial,verdana sans-serif; BACKGROUND-COLOR: black
}
A:link {
	COLOR: white
}
A:visited {
	COLOR: #828c81
}
A:hover {
	COLOR: #516240; TEXT-DECORATION: none
}
A.b:hover {
	COLOR: #10140c; TEXT-DECORATION: none
}
INPUT.box {
	BORDER-RIGHT: #848c81 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #848c81 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; BORDER-LEFT: #848c81 1px solid; COLOR: white; PADDING-TOP: 0px; BORDER-BOTTOM: #848c81 1px solid; FONT-FAMILY: helvetica, arial, verdana sans-serif; BACKGROUND-COLOR: #10140c
}
SELECT.box {
	BORDER-RIGHT: #848c81 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #848c81 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; BORDER-LEFT: #848c81 1px solid; COLOR: white; PADDING-TOP: 0px; BORDER-BOTTOM: #848c81 1px solid; FONT-FAMILY: helvetica, arial, verdana sans-serif; BACKGROUND-COLOR: #10140c
}
TEXTAREA.box {
	BORDER-RIGHT: #848c81 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #848c81 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; BORDER-LEFT: #848c81 1px solid; COLOR: white; PADDING-TOP: 0px; BORDER-BOTTOM: #848c81 1px solid; FONT-FAMILY: helvetica, arial, verdana sans-serif; BACKGROUND-COLOR: #10140c
}
