{getblog blogid=$smarty.request.blogid assign="blog"}
{getperson personid=$blog.owner assign="owner"}
{assign var="today" value=$smarty.request.year|cat:"/"|cat:$smarty.request.month|cat:"/1"}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />   
		<title>{$blog.title|escape} &#8212; {$today|date_format:"%B %Y"} Archives</title>
		<link rel="stylesheet" href="{$blog.url}style.css" media="screen" title="default" />
		<link rel="meta" type="application/rdf+xml" title="FOAF" href="{$owner.foaf}" />
		<link rel="start" href="{$blog.url}" title="Home" />
{getpreventry blogid=$blog.id year=$smarty.request.year month=$smarty.request.month assign="prev"}
{if $prev}
		<link rel="prev" href="{$blog.url}{$prev.timestamp|date_format:"%Y/%m/"}" title="{$prev.timestamp|date_format:"%B %Y"}" />
{/if}
{getnextentry blogid=$blog.id year=$smarty.request.year month=$smarty.request.month assign="next"}
{if $next}
		<link rel="next" href="{$blog.url}{$next.timestamp|date_format:"%Y/%m/"}" title="{$next.timestamp|date_format:"%B %Y"}" />
{/if}
 	</head>
	<body>  
	<div id="container">
		<div id="banner">
			<h1><a href="{$blog.url}" accesskey="1">{$blog.title|escape}</a></h1>
			<span class="description">{$blog.description|escape}</span>
		</div>
		<div id="content">
			<div class="blog">
				<div id="menu">
{if $prev}
					<a href="{$blog.url}{$prev.timestamp|date_format:"%Y/%m/"}">&laquo; {$prev.timestamp|date_format:"%B %Y"}</a> | 
{/if}
					<a href="{$blog.url}">Main</a> 
{if $next}
					| <a href="{$blog.url}{$next.timestamp|date_format:"%Y/%m/"}">{$next.timestamp|date_format:"%B %Y"} &raquo;</a> 
{/if}
				</div>
			</div>
			<div class="blog">
{getentries blogid=$blog.id year=$smarty.request.year month=$smarty.request.month assign="entries"}
{foreach from=$entries item=entry}
  {if $last_date ne $entry.timestamp|date_format:"%A, %B %d %Y"} 
				<h2 class="date">{$entry.timestamp|date_format:"%A, %B %d %Y"}</h2>
    {assign var="last_date" value=$entry.timestamp|date_format:"%A, %B %d %Y"}
  {/if} 
				<div class="blogbody">
					<a name="quick{$entry.id}"></a>
					<h3 class="title">{$entry.title|escape}</h3>					
					{$entry.content|nl2br}
					<div class="posted">    
						Posted by {mailto address=$owner.email text=$owner.name encode="javascript"}
						at <a href="{$entry.url}" title="Permalink for &quot;{$entry.title|escape}&quot;">{$entry.timestamp|date_format:"%I:%M %p"}</a> 
						&#8226; 
  {getcategories entryid=$entry.id assign="categories"}
  {if count($categories) gt 0}
    {foreach from=$categories item=category}
						<a href="{$category.url}">{$category.title|escape}</a> 
    {/foreach}
  {else}
						Uncategorized
  {/if}
  {if $entry.show_comments eq 1}
    {getcommentscount entryid=$entry.id assign="comments"}
						&#8226; <a href="{$entry.url}#comments">Comments ({$comments})</a>
  {/if}
					</div>
				</div>
{/foreach}
			</div>
		</div>
		<div id="links">
			<div align="center" class="calendar">
{calendar}
			</div>
			<div class="sidetitle">Search</div>
			<div class="side">
				<form method="post" action="{$blog.url}search/" style="padding: 0px; margin: 0px;">
					<label for="search" accesskey="4">Search this site:</label><br />
					<input id="search" name="search" size="20" />
				</form>
			</div>
			<div class="sidetitle">Links</div>
			<div class="side">
{getlinks blogid=$blog.id assign="links"}
{foreach from=$links item=link}
				<a href="{$link.url}" title="{$link.description|escape}">{$link.title|escape}</a><br />
{/foreach}
			</div>
			<div class="sidetitle">Categories</div>
			<div class="side">
{getcategories blogid=$blog.id assign="categories"}
{foreach from=$categories item=category}
				<a href="{$category.url}" title="View all entries in the &quot;{$category.title|escape}&quot; category">{$category.title|escape}</a> ({$category.entries})<br />
{/foreach}
			</div>
			<div class="sidetitle">Archives</div>
			<div class="side">
{getarchives blogid=$blog.id assign="archives"}
{foreach from=$archives item=archive}
				<a href="{$archive.url}" title="View entries from {$archive.title}">{$archive.title}</a><br />
{/foreach}
			</div>
{getbooks blogid=$blog.id assign="books"}
{if count($books) gt 0}
			<div class="sidetitle">Currently Reading</div>
			<div class="side" style="text-align: center;">
  {foreach from=$books item=book}
				<br /><a href="{$book.url}"><img src="{$book.medium}" alt="{$book.title}" /><br />
				{$book.title}</a><br />
				By {$book.authors}<br />
  {/foreach}
			</div>
{/if}
			<div class="syndicate">
				<a href="{$owner.foaf}" title="FOAF describing owner">
					<img src="{$blog.url}images/foaf.gif" alt="" border="0" />
				</a><br />
				<a href="http://validator.w3.org/check/referer" title="Valid XHTML 1.0">
					<img src="{$blog.url}images/xhtml10.png" alt="" border="0" />
				</a><br />
				<a href="http://jigsaw.w3.org/css-validator/validator?uri=blogs.thebhg.org" title="Valid CSS">
					<img src="{$blog.url}images/css.png" alt="" border="0" />
				</a><br />
			</div>	
			<div class="powered">Powered by<br />
				<a href="{$system.home}" title="Visit the {$system.name} frontpage">
					{$system.name} {$system.version}
				</a><br />
			</div>
		</div>
		<br clear="all" />
	</div>
	</body>
</html>
