{getblog blogid=$smarty.request.blogid assign="blog"}
{getperson personid=$blog.owner assign="owner"}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />   
		<title>{$blog.title} &#8212; Search Results</title>
		<link rel="stylesheet" href="{$blog.url}style.css" media="screen" title="default" />
		<link rel="meta" type="application/rdf+xml" title="FOAF" href="{$owner.foaf}" />
	</head>
	<body>  
	<div id="container">
		<div id="banner">
			<h1><a href="{$blog.url}" accesskey="1">{$blog.title}</a></h1>
			<span class="description">Search Results</span>
		</div>
		<div id="content">
			<div class="blog">
				<form method="post" action="{$blog.url}search/">
					<h3 class="title">Search this site:</h3>
					<div class="comments-body">
						<input type="text" size="30" name="search" value="{$smarty.post.search}" /> 
						<input type="submit" value="Search" /><br/>
					</div>
				</form>
				<h2 class="date">Search Results from {$blog.title}</h2>
{search query=$smarty.post.search assign="entries"}
{foreach from=$entries item=entry}
				<div class="blogbody">
					<a name="quick{$entry.id}"></a>
					<h3 class="title">{$entry.title}</h3>					
					{$entry.content|nl2br}
					<div class="posted">    
						Posted by {mailto address=$owner.email text=$owner.name encode="javascript"}
						at <a href="{$entry.url}" title="Permalink for &quot;{$entry.title}&quot;">{$entry.timestamp|date_format:"%I:%M %p"}</a> 
						&#8226; {$entry.categories}
{if $entry.show_comments eq 1}
    {getcommentscount entryid=$entry.id assign="comments"}
						&#8226; <a href="{$entry.url}#comments">Comments ({$comments})</a>
{/if}
					</div>
				</div>
{/foreach}
			</div>
		</div>
		<div id="links">
			<div align="center" class="calendar">
{calendar}
			</div>
			<div class="sidetitle">Book Queue</div>
			<div class="side">
{getbookqueue blogid=$smarty.request.blogid assign="books"}
{foreach from=$books item=book}
				<a href="{$book.url}" title="{$link.description}">
					<img src="{$book.image}" alt="{$book.title}" />
				</a><br />
				{$book.title}<br />
				{$book.authors}<br />
{/foreach}
			</div>
			<div class="sidetitle">Links</div>
			<div class="side">
{getlinks blogid=$smarty.request.blogid assign="links"}
{foreach from=$links item=link}
				<a href="{$link.url}" title="{$link.description}">{$link.title}</a><br />
{/foreach}
			</div>
			<div class="sidetitle">Categories</div>
			<div class="side">
{getcategories blogid=$smarty.request.blogid assign="categories"}
{foreach from=$categories item=category}
				<a href="{$category.url}" title="View all entries in the &quot;{$category.title}&quot; category">{$category.title}</a> ({$category.entries})<br />
{/foreach}
			</div>
			<div class="sidetitle">Archives</div>
			<div class="side">
{getarchives blogid=$smarty.request.blogid assign="archives"}
{foreach from=$archives item=archive}
				<a href="{$archive.url}" title="View entries from {$archive.title}">{$archive.title}</a><br />
{/foreach}
			</div>
{getbooks blogid=$blog.id assign="books"}
{if count($books) gt 0}
			<div class="sidetitle">Currently Reading</div>
			<div class="side" style="text-align: center;">
  {foreach from=$books item=book}
				<br /><a href="{$book.url}"><img src="{$book.medium}" /><br />
				{$book.title}</a><br />
				By {$book.authors}<br />
  {/foreach}
			</div>
{/if}
			<div class="sidetitle">Search</div>
			<div class="side">
				<form method="post" action="{$blog.url}search/" style="padding: 0px; margin: 0px;">
					<label for="search" accesskey="4">Search this site:</label><br />
					<input id="search" name="search" size="20" />
				</form>
			</div>
			<div class="syndicate">
				<a href="{$owner.foaf}" title="FOAF describing owner">
					<img src="{$blog.url}images/foaf.gif" alt="" border="0" />
				</a><br />
				<a href="http://validator.w3.org/check/referer" title="Valid XHTML 1.0">
					<img src="{$blog.url}images/xhtml10.png" alt="" border="0" />
				</a><br />
				<a href="http://jigsaw.w3.org/css-validator/validator?uri=blogs.thebhg.org" title="Valid CSS">
					<img src="{$blog.url}images/css.png" alt="" border="0" />
				</a><br />
			</div>	
			<div class="powered">Powered by<br />
				<a href="{$system.home}" title="Visit the {$system.name} frontpage">
					{$system.name} {$system.version}
				</a><br />
			</div>
		</div>
		<br clear="all" />
	</div>
	</body>
</html>
