<?xml version="1.0"?>
<rdf:RDF
	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
	xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
	xmlns:foaf="http://xmlns.com/foaf/0.1/"
	xmlns:rss="http://purl.org/rss/1.0/"
	xmlns:dc="http://purl.org/dc/elements/1.1/">
{getblog blogid=$smarty.request.blogid assign="blog"}
{getbooks blogid=$blog.id assign="books" asarray=1}
{foreach from=$books item=book}
	<foaf:Document rdf:about="None">
		<dc:title>{$book.title|escape}</dc:title>
		<foaf:homepage>{$book.url}</foaf:homepage>
  {foreach from=$book.authors item=author}
		<foaf:maker>
			<foaf:Person>
				<foaf:name>{$author}</foaf:name>
			</foaf:Person>
		</foaf:maker>
  {/foreach}
		<foaf:img>
			<foaf:Image rdf:about="{$book.small}">
				<dc:title>Small Coverart</dc:title> 
			</foaf:Image>
		</foaf:img>
		<foaf:img>
			<foaf:Image rdf:about="{$book.medium}">
				<dc:title>Medium Coverart</dc:title> 
			</foaf:Image>
		</foaf:img>
		<foaf:img>
			<foaf:Image rdf:about="{$book.large}">
				<dc:title>Large Coverart</dc:title> 
			</foaf:Image>
		</foaf:img>
	</foaf:Document>
{/foreach}
</rdf:RDF>
