body {
	background: #f7ffff;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
	color: black;
	margin: 0;
}
a {
	font-weight: bold;
	text-decoration: none;
	color: #0a37b3;
}
a:hover {
	text-decoration: underline;
}
table {
	border-collapse: collapse;
}
table.fullwidth {
	width: 100%;
}
tr {
	vertical-align: top;
}
td, th {
	border: solid 1px #000040;
	text-align: left;
}
td {
	background: #d8fcff;
}
th {
	background: #61a3b3;
	font-weight: bold;
}

div#title {
	text-align: left;
	position: absolute;
	height: 20px;
	top: 2px;
	left: 2px;
	width: 35%;
	padding-left: 3px;
	background: #61a3b3;
	border: solid 1px #000040;
	border-right: none;
}
div#menu {
	text-align: right;
	position: absolute;
	height: 20px;
	top: 2px;
	right: 2px;
	width: 95%;
	background: #61a3b3;
	border: solid 1px #000040;
	border-left: none;
	z-index: 1;
}
div#menu ul {
	display: inline;
}
div#menu ul li {
	display: inline;
	line-height: 20px;
	border-left: solid 1px #000040;
	padding-left: 1em;
	padding-right: 1em;
}

div#content {
	position: absolute;
	top: 27px;
	left: 0;
	width: 79%;
	padding-left: 3px;
}

div#blocks {
	position: absolute;
	top: 27px;
	right: 2px;
	width: 20%;
}
div.block {
	border: solid 1px #000040;
	margin-bottom: 2em;
	background: #d8fcff;
}
div.block div.header {
	background: #61a3b3;
	border-bottom: solid 1px #000040;
	font-weight: bold;
}

hr {
	border: 0;
	border-top: solid 1px #000040;
	color: transparent;
	background-color: transparent;
	height: 1px;
	margin-top: 1em;
	margin-bottom: 1em;
}
