body {
	padding: 0;
	margin: 0;
	font-family: "Bitstream Vera Sans", "Tahoma", Verdana, Helvetica, sans-serif;
	font-size: 10pt;
}

a:link
{
	color                 : #666;
}
a:visited
{
	color                 : #666;
}
a:hover
{
	color                 : #003366;
	text-decoration       : none;
}
a:active
{
	color                 : #003366;
}


#main_body {
	margin: 25px;
	padding: 0;
	border: 1px solid #dddddd;
	border-radius-topright:25px;
	border-radius-topleft:15px;
	border-radius-bottomright:15px;
	-moz-border-radius-topright:25px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-bottomright:15px;
}

#header {
	position: relative;
	border-bottom: 1px solid #dddddd;
	padding: 0;
	margin: 0;
	border-radius-topright:25px;
	border-radius-topleft:15px;
	-moz-border-radius-topright:25px;
	-moz-border-radius-topleft:15px;
}

#logo {
	padding: 0;
	margin: 0;
	margin-top: -25px;
	margin-right: -25px;
	float: right;
}

#mainmenu {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -1px;
	margin-left: -1px;
	width: 12em;
}

#mainmenu ul {
	display; none;
	position absolute;
	padding: 0;
	margin: 0;
}

#mainmenu h1 {
	font-size: 100%;
	padding: 0.2em 1em;
	border: 1px solid #dddddd;
	margin: 0;
	width: 100%;
	background-color: white;
	border-radius-topleft:15px;
	border-radius-bottomright:15px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-bottomright:15px;
}

#mainmenu ul li {
	display:none;
	float:left;
	clear:left;
	margin: 0;
}

#mainmenu ul li a {
	display: block;
	width: 10em;
	padding: 0.2em 1em;
	border: 1px solid #dddddd;
	margin-top: -1px;
	background-color: white;
}

#mainmenu:hover ul {
	display: block;
}

#mainmenu:hover ul li {
	display: block;
}

#mainmenu ul li a:hover {
  background            : #FFF url(tr_bck.gif) repeat;
}

#modulemenu {
	clear: left;
	list-item: none;
	padding: 0;
	margin: 0;
	padding-top: 2em;
}

#modulemenu li {
	float: left;
	display: inline;
}

#modulemenu li a {
	display: block;
	padding: 0.2em 1em;
}

#headerAdd {
	float: right;
	padding: 1px;
	border: 1px solid #dddddd;
	margin: 3px;
	margin-right: 20px;
	width: 468px;
}

#sidemenu {
	clear: right;
	float: right;
	width: 200px;
	font-size: 80%;
	padding-left: 20px;
	border-left: 1px solid #dddddd;
}


#sidemenu h3 {
	font-size: 100%;
	margin-bottom: 0;
	margin-left: 0.5em;
}

#sidemenu ul {
margin: 0 0 0 1em; /*1.5em;*/
padding: 0;
list-style: circle;
color: #cccccc;
}

#sidemenu li {
padding: 0.1em;
}

#content {
	margin: 0;
	padding: 10px;
	border-right: 1px solid #dddddd;
	margin-right: 220px;
}

#content h2 {
	margin-top: 0;
	padding-top: 0;
}

#footer {
	font-size: 60%;
	text-align: center;
	margin: 0.2em 20%;
}

.clear {
clear: both;
}
