RewriteEngine On
RewriteRule ^images - [L]
RewriteRule ^armour - [L]
RewriteRule ^ipkc - [L]
RewriteRule ^js - [L]
RewriteRule ^layout - [L]
RewriteRule ^style - [L]
RewriteRule ^index.php - [L]
RewriteRule ^(.*)$ /index.php/$1 [PT]
