* html div#content {
	background: #2F2F2F;
	color: inherit;
	width: 74%;
}

* html div#header {
	height: 80px;
}

* html div#header h1 {
	background: transparent;
	color: inherit;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='http://ka.thebhg.org/images/banner.png',sizingMethod='scale');
	height: 58px;
	width: 443px;
}

* html ol#leftnav ol li a {
	background-color: #2F2F2F;
	color: inherit;
	width: 100%;
}

* html ol#leftnav ol li a:hover {
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
}

body {
  background: url(images/grid.jpg) 0px 1px;
  color: #CCCCCC;
  margin: 0px;
  font-family: verdana, sans-serif;
  font-size: small;
}

strong {
	text-decoration: underline;
}

* html body,
* html td,
* html th {
  font-size: x-small;
}

div#content {
	position: absolute;
	top: 99px;
	width: 72.5%;
	left: 23.5%;
}

div#content > div {
	background: url(images/background3.jpg) #2F2F2F no-repeat fixed 70px 75px;
	border: 1px solid #999999;
	color: inherit;
	margin-bottom: 15px;
}

div#content h2 {	
	background-color: #666666;
	border-bottom: 1px solid #999999;
	color: inherit;
	font-weight: bold;
	padding: 0px 2px;
	margin: 0px;
	font-size: 1em;
}

div#content blockquote {
	margin-left: 5em;
	margin-right: 5em;
	font-style: italic;
}

div#content img {
	border: 1px dotted #cccccc;
	margin: 5px;
}

div#content p {
	font-size: 1em;
	padding: 5px;
}

div#content table {
	background: url(images/background3.jpg) #2F2F2F no-repeat fixed 70px 75px;
	border: 1px solid #999999;
	border-collapse: collapse;
	color: inherit;
	width: 100%;
	margin-bottom: 15px;
}

div#content table caption {
	background-color: #666666;
	color: inherit;
	font-weight: bold;
	padding: 0px 2px;
	margin: 0px;
	margin-left: -1px;
	font-size: 1em;
	text-align: center;
	border: 1px solid #999999;
}

div#content table.invisible {
	border: 0px;
}

div#content table.invisible td {
	background-color: transparent;
}

div#content table td {
	background-color: transparent;
	border: solid 1px #999999;
	padding: 2px;
}

div#content table th {
	border: 1px solid #999999;
	padding: 0px 2px;
	margin: 0px;
	font-size: 1em;
	background-color: #666666;
	text-align: left;
}

div#content table.news th {
	font-weight: normal;
}

div#content table th.right {
	text-align: right;
	font-weight: bold;
}

form {
	border: 0px;
	margin: 0px;
	padding: 5px;
}

form input,
form select,
form textarea {
	margin-left: 10px;
	margin-bottom: 10px;
}

form input.submit {
	margin: 10px 0px;
}

label {
	margin-bottom: 4px;
	display: block;
	font-weight: normal;
}

div#header {
	background: url(images/darkgrid.jpg);
	border-bottom: 1px solid #747474;
	padding: 8px 3%;
}

h1 {
	background: url(images/banner.png) no-repeat;
	height: 58px;
	margin: 0px;
}

h1 span {
	display: none;
}

ol#leftnav {  
	font-size: 1em;
	left: 3%;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 99px;
	width: 19%;
}

ol#leftnav li {
	background-color: #666666;
	border: 1px solid #999999;
	color: inherit;
	font-weight: bold;
	list-style-type: none;
	margin: 0px 0px 15px 0px;
	text-align: center;
}

ol#leftnav ol {
	border-top: 1px solid #999999;
	margin: 0px;
	padding: 0px;
}

ol#leftnav ol li {
	border: 0px;
	font-weight: normal;
	margin: 0px;
	text-align: left;
}

ol#leftnav ol li a {
	background: url(images/background3.jpg) #2F2F2F no-repeat fixed 70px 75px;
	color: #CCCCCC;
	display: block;
	padding: 2px 8px;
	text-decoration: none;
	width: auto;
}

ol#leftnav ol li a:hover {
	background: url(images/background2.jpg) #5F5F5F no-repeat fixed 70px 75px;
	border-bottom: 1px dotted #999999;
	border-left: 4px solid #999999;
	border-right: 4px solid #999999;
	border-top: 1px dotted #999999;
	color: inherit;
	margin: 0px;
	padding: 1px 4px;
}

ol#leftnav ol li.first a:hover {
	border-top: 0px;
	padding-top: 2px;
}

ol#leftnav ol li.last a:hover {
	border-bottom: 0px;
	padding-bottom: 2px;
}

ol#topnav {
	display: inline;
	font-size: 1em;	
	margin: 0px;
	padding: 0px;
}

ol#topnav a {
	color: #cccccc;
	text-decoration: none;
}

ol#topnav a:hover {
	text-decoration: underline;
}

ol#topnav li {
	display: inline;
	padding: 1px 4px;
}

a {
	color: #cccccc;
	text-decoration: underline;
}
