<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
		"http://www.w3.org/TR/xhtml11/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Holonet</title>
<link rel="stylesheet" href="holonet.css" type="text/css"/>
<link rel="stylesheet" href="table.css" type="text/css"/>
</head>
<body>
<div id="header">
	<div id="logo">
		<div id="logo01"></div>
		<div id="logo02"></div>
		<div id="logo03"></div>
		<div id="logo04"></div>
		<div id="logo05"></div>
		<div id="logo06"></div>
		<div id="logo07"></div>
		<div id="logo08"></div>
		<div id="logo09"></div>
		<div id="logo10"></div>
		<div id="logo11"></div>
		<div id="logo12"></div>
		<div id="logo13"></div>
		<div id="logo14"></div>
	</div>
	<ul id="mainmenu">
		<li><a href="#">Holonet</a></li>
		<li><a href="#">Roster</a></li>
		<li><a href="#">Medal Board</a></li>
		<li><a href="#">Library</a></li>
		<li><a href="#">Star Chart</a></li>
		<li><a href="#">Arena</a></li>
	</ul>
	<ul id="modulemenu">
		<li><a href="#">Item 1</a></li>
		<li><a href="#">Item 2</a></li>
		<li><a href="#">Item 3</a></li>
		<li><a href="#">Item 4</a></li>
		<li><a href="#">Item 5</a></li>
		<li><a href="#">Item 6</a></li>
		<li><a href="#">Item 7</a></li>
		<li><a href="#">Item 8</a></li>
	</ul>
</div>
<div id="sidemenu">
	<div class="section">
		<h3>Commission</h3>
		<ul>
			<li><a href="#">Commission</a></li>
			<li><a href="#">Commission Assistants</a></li>
		</ul>
	</div>
	<div class="section">
		<h3>Kabals</h3>
		<ul>
			<li><a href="#">Cyclone</a></li>
			<li><a href="#">Daichi</a></li>
			<li><a href="#">Dragon</a></li>
			<li><a href="#">Omega</a></li>
			<li><a href="#">Phoenix</a></li>
			<li><a href="#">Skylla</a></li>
			<li><a href="#">Thunder</a></li>
		</ul>
	</div>
	<div class="section">
		<h3>Cadres</h3>
		<ul>
			<li><a href="#">XX</a></li>
			<li><a href="#">Vice-Presidential Action Rangers</a></li>
			<li><a href="#">Peacocks Marching Down The Field</a></li>
			<li><a href="#">Item 4</a></li>
			<li><a href="#">Item 5</a></li>
			<li><a href="#">Item 6</a></li>
			<li><a href="#">Item 7</a></li>
			<li><a href="#">Item 8</a></li>
		</ul>
	</div>
	<div class="section">
		<h3>Side Menu</h3>
		<ul>
			<li><a href="#">Item 1</a></li>
			<li><a href="#">Item 2</a></li>
			<li><a href="#">Item 3</a></li>
			<li><a href="#">Item 4</a></li>
			<li><a href="#">Item 5</a></li>
			<li><a href="#">Item 6</a></li>
			<li><a href="#">Item 7</a></li>
			<li><a href="#">Item 8</a></li>
		</ul>
	</div>
</div>
<div id="content">
<h1>Page Title</h1>
<p>In every browser I've tested, you should see what appears to be an irregularly-shaped white area containing some text. This text, as a matter of fact. Not every browser does it well, but some at least get close; during my testing, the standouts were Netscape 6.2 and Opera 5.12, but of course others may handle the test as well or better. If you want to see something that's more cross-browser friendly, based on images instead of regular text elements, you might be interested in something a bit more curvelicious. Meanwhile, we'll soldier on here.</p>
<p>So if you're here with a good CSS2-supporting browser, you should see a white area with an irregularly-shaped right edge, and the text flowing along with the slanted edge. And you thought Web design was all rectangles.</p>

<p>In every browser I've tested, you should see what appears to be an irregularly-shaped white area containing some text. This text, as a matter of fact. Not every browser does it well, but some at least get close; during my testing, the standouts were Netscape 6.2 and Opera 5.12, but of course others may handle the test as well or better. If you want to see something that's more cross-browser friendly, based on images instead of regular text elements, you might be interested in something a bit more curvelicious. Meanwhile, we'll soldier on here.</p>
<p>So if you're here with a good CSS2-supporting browser, you should see a white area with an irregularly-shaped right edge, and the text flowing along with the slanted edge. And you thought Web design was all rectangles.</p>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Position</th>
			<th>Rank</th>
			<th>Name</th>
			<th>Rank Credits</th>
			<th>Account Balance</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>1</th>
			<td><a href="/index.php?module=roster&amp;page=position&amp;id=1">Dark Prince</a></td>
			<td><a href="/index.php?module=roster&amp;page=rank&amp;id=17">Dark Prince</a></td>
			<td><a href="/index.php?module=roster&amp;page=hunter&amp;id=242">Tuss Raydod</a></td>
			<td>N/A</td>
			<td>N/A</td>
		</tr>
		<tr>
			<th>20</th>
			<td><a href="/index.php?module=roster&amp;page=position&amp;id=2">Underlord</a></td>
			<td><a href="/index.php?module=roster&amp;page=rank&amp;id=15">Cardinal</a></td>
			<td><a href="/index.php?module=roster&amp;page=hunter&amp;id=666">Jernai Teifsel</a></td>
			<td>152,741,999</td>
			<td>132,817,599</td>
		</tr>
		<tr>
			<th>300</th>
			<td><a href="/index.php?module=roster&amp;page=position&amp;id=3">Tactician</a></td>
			<td><a href="/index.php?module=roster&amp;page=rank&amp;id=19">Arch-Duke</a></td>
			<td><a href="/index.php?module=roster&amp;page=hunter&amp;id=1187">Xander Drax</a></td>
			<td>72,676,689</td>
			<td>66,284,910</td>
		</tr>
		<tr>
			<th>4000</th>
			<td><a href="/index.php?module=roster&amp;page=position&amp;id=5">Executor</a></td>
			<td><a href="/index.php?module=roster&amp;page=rank&amp;id=20">Marquis</a></td>
			<td><a href="/index.php?module=roster&amp;page=hunter&amp;id=2659">Prospero</a></td>
			<td>40,628,089</td>
			<td>17,457,254</td>
		</tr>
		<tr>
			<th>579</th>
			<td><a href="/index.php?module=roster&amp;page=position&amp;id=6">Judicator</a></td>
			<td><a href="/index.php?module=roster&amp;page=rank&amp;id=20">Marquis</a></td>
			<td><a href="/index.php?module=roster&amp;page=hunter&amp;id=2649">Slowbacca</a></td>
			<td>46,617,116</td>
			<td>41,225,920</td>
		</tr>
		<tr>
			<th>5642</th>
			<td><a href="/index.php?module=roster&amp;page=position&amp;id=29">Overseer</a></td>
			<td><a href="/index.php?module=roster&amp;page=rank&amp;id=20">Marquis</a></td>
			<td><a href="/index.php?module=roster&amp;page=hunter&amp;id=569">Ultimate Lord Darth Skywalker Fett-Solo</a></td>
			<td>35,776,481</td>
			<td>33,467,920</td>
		</tr>
	</tbody>
</table>
</div>
<div id="footer">
blah blah blah
</div>
</body>
</html>
