BODY, TD, P {
	background: white;
	color: black;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
}
A {
	font-color: red;
	text-decoration: none;
}
A:HOVER {
	text-decoration: underline;
}
H1 {
	font-size: 24pt;
	font-weight: bold;
}
