body {
	font-size: 12pt;
}

.donate {
	float: left;
	clear: left;
	width: 150px;
	font-size: 80%;
	border: 1px solid black;
	padding: 0;
	margin: 5px;
}

.donate h2 {
	width: 100%;
	background: black;
	color: white;
	margin: 0;
	text-align: center;
	padding: 5px;
}

.donate p {
	padding: 2px;
}
