body {
	font-size: 11pt;
	margin: 0;
	padding: 0;
}

.center {
	text-align: center;
}

.donate {
	float: left;
	clear: left;
	width: 150px;
	font-size: 70%;
	border: 1px solid black;
	padding: 0;
	margin: 5px;
}

.donate h2 {
	background-color: black;
	color: white;
	margin: 0;
	text-align: center;
	padding: 5px;
}

.donate p {
	padding: 2px;
}

.header {
	background-color: black;
	border-bottom: 1px solid black;
	color: white;
}

.header h2 {
	font-size: 75%;
}
