BODY {
	background-color: #065100;
	background-image: url("images/int-bottom-right.gif");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 100% 100%;
	color: #e0e0e0;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
}
TD, P {
	color: #e0e0e0;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
	border: solid 1px #032800;
}
TABLE {
	border-collapse: collapse;
}
BODY.OUTER, BODY.BOTTOM {
	background: #065100;
}
BODY.RIGHT {
	background: #065100 url("images/right.gif") no-repeat fixed 0% 100%;
}
BODY.WHITE {
	background: white;
}
A {
	color: white;
	text-decoration: none;
}
A:HOVER {
	text-decoration: underline;
}
H1 {
	font-size: 12pt;
	font-weight: bold;
}
SMALL {
	font-size: 8pt;
}
TH {
	background: #032800;
	font-size: 10pt;
	font-weight: bold;
}
TH.RIGHT {
	text-align: right;
}
