RewriteEngine  on

# Admin
RewriteRule   ^xsl/(.*)$                         /templates/xsl/$1
RewriteRule   ^([a-z0-9]+)/admin(.?)$            /index.php?route=15
RewriteRule   ^([a-z0-9]+)/admin/create(.?)$     /index.php?route=15
RewriteRule   ^([a-z0-9]+)/admin/entries(.?)$    /index.php?route=19
RewriteRule   ^([a-z0-9]+)/admin/options(.?)$    /index.php?route=35
RewriteRule   ^([a-z0-9]+)/admin/books(.?)$      /index.php?route=26
RewriteRule   ^([a-z0-9]+)/admin/links(.?)$      /index.php?route=27
RewriteRule   ^([a-z0-9]+)/admin/categories(.?)$ /index.php?route=17
RewriteRule   ^([a-z0-9]+)/admin/([0-9]+)/([0-9]+)/([0-9]+)/([a-zA-Z0-9]+)(.?)$ /index.php?year=$2&month=$3&day=$4&entryid=$5&route=20
RewriteRule   ^([a-z0-9]+)/admin/style.css$      /templates/administration/include/style.css
RewriteRule   ^([a-z0-9]+)/admin/javascript.js$  /templates/administration/include/ie_form_mojo.js
RewriteRule   ^([a-z0-9]+)/admin/images/(.*)$    /templates/administration/include/$1

# Blog
RewriteRule   ^([a-z0-9]+)(.?)$           /index.php?blogid=$1&route=1
RewriteRule   ^([a-z0-9]+)/style.css$     /index.php?blogid=$1&route=6
RewriteRule   ^([a-z0-9]+)/rss10.xml$     /index.php?blogid=$1&route=5
RewriteRule   ^([a-z0-9]+)/rss20.xml$     /index.php?blogid=$1&route=32
RewriteRule   ^([a-z0-9]+)/rsd.xml$       /index.php?blogid=$1&route=36
RewriteRule   ^([a-z0-9]+)/atom03.xml$    /index.php?blogid=$1&route=21
RewriteRule   ^([a-z0-9]+)/links.xml$     /index.php?blogid=$1&route=27
RewriteRule   ^([a-z0-9]+)/books.xml$     /index.php?blogid=$1&route=28
RewriteRule   ^([a-z0-9]+)/images/(.*)$   /templates/general/include/$2
RewriteRule   ^([a-z0-9]+)/search(.?)$    /index.php?blogid=$1&route=7

# Archives
RewriteRule   ^([a-z0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([a-zA-Z0-9]+)(.?)$	/index.php?blogid=$1&route=12&year=$2&month=$3&day=$4&entryid=$5
RewriteRule   ^([a-z0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)(.?)$			/index.php?blogid=$1&route=8&year=$2&month=$3&day=$4
RewriteRule   ^([a-z0-9]+)/([0-9]+)/([0-9]+)(.?)$ 				/index.php?blogid=$1&route=13&year=$2&month=$3
RewriteRule   ^([a-z0-9]+)/([0-9]+)(.?)$ 					/index.php?blogid=$1&route=9&year=$2

# Categories
RewriteRule   ^([a-z0-9]+)/categories(.?)$ 					/index.php?blogid=$1&route=31
RewriteRule   ^([a-z0-9]+)/categories/([a-zA-Z0-9]+)(.?)$ 			/index.php?category=$2&blogid=$1&route=2
RewriteRule   ^([a-z0-9]+)/categories/([a-zA-Z0-9]+)/atom03.xml$ 		/index.php?category=$2&blogid=$1&route=29
RewriteRule   ^([a-z0-9]+)/categories/([a-zA-Z0-9]+)/rss10.xml$ 		/index.php?category=$2&blogid=$1&route=30
RewriteRule   ^([a-z0-9]+)/categories/([a-zA-Z0-9]+)/rss20.xml$ 		/index.php?category=$2&blogid=$1&route=33

# XML-RPC
RewriteRule   ^RPC2(.*)$ 							/index.php?route=11

# Syndicate
RewriteRule   ^opml.xml$ 							/index.php?route=22
RewriteRule   ^foaf.xml$ 							/index.php?route=23
RewriteRule   ^rss10.xml$ 							/index.php?route=24
RewriteRule   ^rss20.xml$ 							/index.php?route=34
RewriteRule   ^atom03.xml$ 						/index.php?route=25
