BODY {
	background: url("/images/right.png") 0% 0% fixed no-repeat black;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 9pt;
	font-weight: normal;
	color: white;
	padding-top: 12px;
}
BODY.MENU {
	background: url("/images/left.png") 0% 0% fixed no-repeat black;
}
BODY.TOP {
	margin: 0;
	padding: 0;
	background: black;
}
TD {
	font-size: 9pt;
}
TH {
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
}
TD.MENU {
	margin: 0;
	padding: 12px;
	font-weight: bold;
	color: #373737;
	font-size: 12pt;
}
DIV.MENUITEM {
	margin-bottom: 5pt;
}
A {
	font-weight: bold;
	text-decoration: none;
	color: #00a000;
}
A:HOVER {
	font-weight: bold;
	text-decoration: underline;
}
A.MENU {
	color: black;
}
IMG, TABLE {
	border: 0;
}
TABLE.STATS {
	background: transparent;
	border-collapse: collapse;
}
TD.STATS {
	background: transparent;
	border: solid 1px #005000;
}
TH.STATS {
	background: transparent;
	border: solid 1px #005000;
}
TABLE.MENU {
	margin: 0;
	padding: 0;
}
H1 {
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
}
