body {
margin: 0;
padding: 0;
 font-family: sans-serif;
 font-size: 95%;
}

a {
text-decoration: none;
color: black;
}

hr {
border: none;
border-bottom: 1px solid black;
width: 98%;
margin-top: 0.5em;
margin-bottom: 0.5em;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
	padding-bottom: 0.5em;
}

p {
padding-bottom: 1em;
}

th {
	text-align: left;
background: #dddddd;
	font-weight: bold;
}

#header {
top: 0;
left: 0;
background-color: #dddddd;
padding: 0;
position: fixed;
width: 100%;
border-bottom: 1px solid black;
}

#header h1 {
margin: 0;
padding: 0;
}

#header p {
margin: 0;
padding: 0;
}

#header ul{
   padding : 0;
    margin : 0;
    white-space : nowrap;
   float : left;
    width : 100%;
   border-style : solid;
    border-color : black;
   border-width : 1px 0 0 0;
}
#header ul li{
   display : inline;
}
#header ul li a{
	 margin-right: 1px;
   padding-left : 1em;
    padding-right : 1em;
   background-color : #dddddd;
    text-decoration : none;
   float : left;
    border-right-color : black;
   border-right-style : solid;
    border-right-width : 1px;
}
#header ul li a:hover {
   background-color : white;
}

#bhg {
position: absolute;
top: 0;
right: 0;
height: 100%;
text-align: center;
vertical-align: middle;
padding: 0;
margin: 0;
				border-left: 1px solid black;
				background-color: #dddddd;
}

#bhg a {
margin: 0;
padding: 1.20em 0;
display: block;
background-image: url(roster.png);
background-position: 50% 50%;
background-repeat: no-repeat;
text-indent: -5000px;
width: 48px;
}

#footer {
bottom: 0;
left: 0;
right: 0;
position:fixed;
}

#footer ul{
padding : 0;
margin : 0;
white-space : nowrap;
background-color : #dddddd;
float : left;
width : 100%;
border-style : solid;
border-color : #000000;
border-width : 1px 0 1px 0;
}
#footer ul li{
display : inline;
}
#footer ul li a{
padding-left : 0.8em;
padding-right : 0.8em;
background-color : #dddddd;
text-decoration : none;
float : left;
border-right-color : #000000;
border-right-style : solid;
border-right-width : 1px;
}
#footer ul li a:hover {
background-color : #FFFFFF;
}

#pagefooter {
	padding-top: 4px;
margin-bottom: 2em;
font-size: 0.7em;
text-align: center;
border-top: 1px solid black;
clear: both;
			 padding-left: 20%;
			 padding-right: 20%;
}

#content {
margin: 3.5em 12em 0 0;
padding: 5px;
padding-right: 10px;
border-right: 1px solid black;
}

#sidemenu {
margin-top: 0.65em;
float: right;
width: 12em;
max-width: 12em;
border-left: 1px solid black;
}

#sidemenu ul {
font-size: 0.8em;
list-style: none;
margin: 0;
padding: 0;
}

#sidemenu ul li {
border-top: 1px solid black;
text-align: center;
padding: 5px 0 0 0;
}

#sidemenu ul li:first-child {
border-top: none;
}

#sidemenu ul li ul {
margin: 0;
padding: 0;
margin-top: 5px;
border: none;
border-top: 1px solid  black;
}

#sidemenu ul li ul li {
margin: 0;
padding: 0;
border: none;
text-align: left;
}

#sidemenu ul li ul li a {
padding: 3px;
display: block;
width: 96%;
border-bottom: 1px dashed black;
}

#sidemenu ul li ul li:last-child a {
border: none;
}

#sidemenu ul li ul li a:hover {
background-color: #dddddd;
}
