BODY {
	background-color: #212121;
	font-size: 10pt;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	margin: 0px;
}
P.disclaimer {
	font-size: 8pt;
	color: #545454;
	text-align: center;
}
P.disclaimer A {
	color: #777700;
}
A {
	color: #FFFF00;
	text-decoration: none;
}
A:hover {
	text-decoration: underline;
}
H1 {
	font-size: 12pt;
	font-weight: bold;
	text-decoration: underline;
	font-variant: small-caps;
	text-align: center;
}
H2 {
	font-size: 11pt;
	font-weight: bold;
	font-style: italic;
	font-variant: small-caps;
}
H3 {
	font-weight: bold;
	font-variant: small-caps;
}
UL {
	list-style: square inside;
}
TABLE {
	border-collapse: collapse;
}
TH {
	font-weight: bold;
	font-variant: small-caps;
	border: solid 1px #CDCDCD;
	background: #550000;
	margin: 0px;
	padding: 3px;
	text-align: center;
	vertical-align: top;
}
TD {
	border: solid 1px #CDCDCD;
	background: #000000;
	margin: 0px;
	padding: 3px;
	vertical-align: top;
}
TEXTAREA {
	border: groove 1px #AAAAAA;
	background: #000000;
	font-size: 10pt;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	padding: 2px;
}
INPUT.field {
	border: groove 1px #AAAAAA;
	background: #000000;
	font-size: 10pt;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	padding: 2px;
}
INPUT.button {
	border: outset 1px #AAAAAA;
	background: #550000;
	font-size: 10pt;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-weight: bold;
	padding: 2px;
}
INPUT.button:hover {
	cursor: pointer;
}
INPUT.button:active {
	border: inset 1px #AAAAAA;
}
DIV#top {
	background: #000000 url(img/background.jpg);
	visibility: visible;
	position: relative;
	width: 100%;
	height: 110px;
	border: none;
	margin: 0px;
	z-index: 0;
}
DIV#nav {
	background: none;
	visibility: visible;
	position: absolute;
	top: 87px;
	left: 0px;
	height: 10px;
	border: none;
	margin: 0px 5px;
	z-index: 2;
	font-weight: bold;
}
DIV#nav A {
	color: #FFFFFF;
	text-decoration: none;
}
DIV#nav A:hover {
	color: #FFFF00;
}
IMG#banner {
	visibility: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	border: none;
	z-index: 1;
}
DIV#main {
	margin: 5px;
}
TABLE.news {
	width: 75%;
}
TD.newsfoot {
	border: none;
	background: none;
	font-size: 8pt;
	color: #898989;
	font-style: italic;
	text-align: right;
}