<menu>
    <item>
        <name>Index</name>
        <page>index</page>
    </item>
    <item>
        <name>Arena Challenge Network</name>
        <page>acn</page>
    </item>
    <item>
        <name>Arena Tracking Network</name>
        <page>atn</page>
    </item>
    <item>
        <name>View Hunters</name>
        <page>view_sheets</page>
    </item>
    <item>
        <name>About</name>
        <page>version</page>
    </item>
    <item>
        <name>SOTA</name>
        <page>sota</page>
    </item>
    <item>
        <name>Administration</name>
        <page>admin</page>
    </item>    
</menu>