form div table th {
	text-align: center;
	font-weight: bold;
	white-space: nowrap;
	background            : #FFF url(../images/th_bck.gif) repeat-x;
  color                 : #666;  
	padding               : 5px 10px;
}

form div table td {
	text-align: left;
	vertical-align: top;
}

form div table td.label {
	font-weight: bold;
	text-align: right;
}
