body {
	padding: 0;
	margin: 0;
	font-family: "Bitstream Vera Sans", "Tahoma", Verdana, Helvetica, sans-serif;
	font-size: 10pt;
}

a:link
{
	color                 : #666;
}
a:visited
{
	color                 : #666;
}
a:hover
{
	color                 : #003366;
	text-decoration       : none;
}
a:active
{
	color                 : #003366;
}

#mainmenu_block {
	margin: 25px 125px 0 40px;
}

#mainmenu_block ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#mainmenu_block ul li {
	float:left;
	margin: 0;
	padding: 5px 2px 0 2px;
	border-bottom: 1px solid #dddddd;
}

#mainmenu_block ul li a {
	display: block;
	padding: 0.2em 1em;
	border: 1px solid #dddddd;
	background-color: white;
	text-align: center;
	margin: 0;
	margin-bottom: -1px;
	border-radius-topright: 15px;
	border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;
}

#mainmenu_block ul li a:hover {
	background-color: #efefef;
}

#main_body {
	margin: -1px 25px 25px 25px;
	padding: 0;
	border: 1px solid #dddddd;
	border-radius-topright: 25px;
	border-radius-topleft: 15px;
	border-radius-bottomright: 15px;
	-moz-border-radius-topright: 25px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomright: 15px;
}

#main_body:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

#main_body {display: inline-table;}

/* Hides from IE-mac \*/
* html #main_body {height: 1%;}
#main_body {display: block;}
/* End hide from IE-mac */

#header {
	position: relative;
	border-bottom: 1px solid #dddddd;
	padding: 0;
	margin: 0;
	border-radius-topright: 25px;
	border-radius-topleft: 15px;
	-moz-border-radius-topright: 25px;
	-moz-border-radius-topleft: 15px;
}

#logo {
	padding: 0;
	margin: 0;
	margin-top: -50px;
	margin-right: -25px;
	float: right;
}

#moduletitle {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -1px;
	margin-left: -1px;
	width: 12em;
}

#moduletitle h1 {
	font-size: 120%;
	padding: 0.2em 1em;
	border: 1px solid #dddddd;
	margin: 0;
	width: 100%;
	background-color: white;
	border-radius-topleft: 15px;
	border-radius-bottomright: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomright: 15px;
}

#modulemenu {
	clear: left;
	list-item: none;
	padding: 0;
	margin: 0;
	padding-top: 2em;
}

#modulemenu li {
	float: left;
	display: inline;
}

#modulemenu li a {
	display: block;
	padding: 0.2em 1em;
}

#headerAdd {
	float: right;
	padding: 1px;
	border: 1px solid #dddddd;
	margin: 3px;
	margin-right: 20px;
	width: 468px;
}

#sidemenu {
	clear: right;
	float: right;
	width: 200px;
	font-size: 80%;
	padding-left: 20px;
	border-left: 1px solid #dddddd;
	margin-bottom: 1em;
}


#sidemenu h3 {
	font-size: 100%;
	margin-bottom: 0;
	margin-left: 0.5em;
}

#sidemenu ul {
margin: 0 0 0 1em; /*1.5em;*/
padding: 0;
list-style: circle;
color: #cccccc;
}

#sidemenu li {
padding: 0.1em;
}

#content {
	margin: 0;
	padding: 10px;
	border-right: 1px solid #dddddd;
	margin-right: 220px;
	min-height: 350px;
}

#content h1 {
	margin-top: 0;
	padding-top: 0;
	font-size: 140%;
}

#content img {
	padding: 2px;
	border: 1px solid #dddddd;
}

#footer {
	font-size: 60%;
	text-align: center;
	margin: 0.2em 20%;
}

.clear {
clear: both;
}

.clear-left {
clear: left;
}

.clear-right {
clear: right;
}

.float-left {
	float: left;
	margin-right: 10px;
}

.float-right {
	float: right;
	margin-left: 10px;
}
