.tab {
	border: solid 1px #ccc;
	padding: 1em;
	margin: 0;
}

.tab:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.tabbar {
	display: none;
	margin: 0;
}

.tabbar a {
	border: solid 1px #ccc;
	border-bottom: none;
	padding: 0.1em 1em 0 1em;
	text-decoration: none;
}

.tabbar a.selected {
	background: #fafafb;
	font-weight: bold;
	padding-top: 0.3em;
}
