BODY {
	background-color: #065100;
	background-image: url("../images/int-bottom-right.gif");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 100% 100%;
	color: #e0e0e0;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
}
TD, P {
	background-color: #065100;
	color: #e0e0e0;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
}
TABLE {
	background: #032800;
}
BODY.OUTER {
	background: #065100;
}
BODY.BOTTOM {
	background: #065100 url("../images/bottom-right.gif") no-repeat fixed 100% 0%;
}
BODY.RIGHT {
	background: #065100 url("../images/right.gif") no-repeat fixed 0% 100%;
}
BODY.BOTTOMRIGHT {
	background: #065100 url("../images/bottom-right-border.gif") no-repeat fixed 0% 0%;
}
BODY.WHITE {
	background: white;
}
A {
	color: white;
	text-decoration: none;
}
A:HOVER {
	text-decoration: underline;
}
H1 {
	font-size: 12pt;
	font-weight: bold;
}
SMALL {
	font-size: 8pt;
}
TH {
	background: #032800;
	font-size: 10pt;
	font-weight: bold;
}
TH.RIGHT {
	text-align: right;
}
